body {
  padding-top: 5px;
  background-color: #FCFDFE;
}

.nav a {
  color: #3a3a3a;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('assets/cover.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 180px;
  left: 50px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
  height: 500px;
}

.learn-more .profile {
  padding: 50px 50px;
}

.learn-more h3 {
  padding-top: 40px;
  font-family: 'Shift', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.learn-more p {
  font-size: 16px;
}

.learn-more a {
  color: #00b0ff;
}

.blog {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.blog .container {
  position: relative;
  top: 80px;
  left: 50px;
}

.blog h1 {
  color: #000;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.blog p {
  font-size: 20px;
  color: #000;
  padding-bottom: 50px;
}

.button-group {
  margin-bottom: 20px;
}

.posts {
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.posts li {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-right: 100px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}


